.rectangle {
    padding-top: 15.5px;	
    width: 430px;	
    background-color: #FFFFFF;	
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
.mask {	
    border-radius: 50%;
    padding-left: 13.5px;
    padding-top: 15.5px;
    box-sizing: border-box;	
    height: 80px;	
    width: 80px;	
    border: 1px solid rgba(0,0,0,0.06);	
    background-color: #F5F5F5;
}

.loadPhoto{
    padding-top: 20px;
    height: 11px;	
    width: 73px;	
    color: rgba(0,0,0,0.87);	
    font-family: Roboto;	
    font-size: 8px;	
    line-height: 11px;
}

.save{
    float: left;
    padding-top: 20px;
    padding-left: 120px;
    cursor: pointer;

}